include data
doctype html
html(lang='es')
    head
        title Tienda Harnina
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
        link(type='text/css', rel='stylesheet', href='../css/catalogoEstilo.css')
        link(type='text/css', rel='stylesheet', href='../css/miscontenedores.css')
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
    body
        header.cabecera
            a.subtitulo(href="catalogo.html") DAM: ACCESO A DATOS
            h5.titulo #{titulo_cabecera_principal}
        div.contenido01
            div.medio.dadoCatalogo
                div.dado.d1.informatica
            div.medio.dadoCatalogo
                div.dado.d3.harnina
        div.contenido01
            form#register(method='POST' action='/register')
                div.menu.s3.caja03
                    h4 New Client
                    div#div_clientFirstName
                        label(for='clientFirstName') First name:
                        input#clientFirstName.etiqueta.s8(type = 'text' data-functioncallback = "validarLetrasConEspacio" size="24" minlength=3 maxlength=50 required placeholder="input your FirstName" title="3 to 50 characters")
                    div#div_clientLastName
                        label(for='clientLastName') Last name:
                        input#clientLastName.etiqueta.s8(type = 'text' data-functioncallback = "validarLetrasConEspacio" minlength=5  maxlength=100 required placeholder="input your LastName" title="3 to 70 characters")
                    div#div_clientSexo
                        label(for='clientSexo') Sexo:
                        select#clientSexo.etiqueta.s8(name='clientSexo' data-functioncallback = "validarSexo")
                            option(value='') -- Select Sexo --
                            option(value='m') Hombre
                            option(value='f') Mujer
                    div#alertaError.etiqueta.errorColor Error:
                    button#submit(type='submit') Enviar
script(src="../js/jscss/dado.js")
script(src="../js/jsStore/constante.js")
script(src="../js/jsStore/store.js")
script(src="../js/jsStore/valida.js")
script(src="../js/jsStore/init.js")
