.caja01{
     font-size: 3em;
     width: 30%;
     margin: 0 auto;
 }
.caja02{
    font-size: 6em;
    width: 60%;
    margin: 0 auto;
}
.caja03{
    font-size: 13em;
    width: 80%;
    margin: 0 auto;
}